
doctype html
html(ng-app='clientApp')
    head
        title= title
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(rel='icon', href='images/countdown.png')
        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/lib/nvd3/build/nv.d3.min.css')
    body
        div(style='width:100%; height:100vh; background-color: #aaa;')
            wb-countdown

        script(src='lib/angular/angular.min.js')
        script(src='lib/angular-route/angular-route.min.js')
        script(src='lib/angular-resource/angular-resource.min.js')
        script(src='lib/underscore/underscore-min.js')
        script(src='lib/d3/d3.min.js')
        script(src='lib/nvd3/build/nv.d3.min.js')
        script(src='javascripts/app.js')
        script(src='javascripts/directives.js')