extends layout

block content
    .wrapper(ng-controller='main')
        div(ng-repeat = 'tour in tours', ng-click = 'select($index)' ng-if = 'mode === "preview"')
            .width-12.height-1
                h1 {{tour.title}}
            .width-4.height-4.dashed-border
                wb-map(world = 'world' features = 'tour.features' route = 'tour.route' width = 246 height = 246)
            .width-2.height-2.dashed-border(ng-repeat = 'image in tour.previewImages')
                img(ng-src = '{{image}}')

        div(ng-if = 'mode === "tour"')

            .width-12.height-1
                h1 {{selectedTour.title}}
            .width-12.dashed-border.text-box
                h4 Where
            .width-4.height-8.dashed-border
                wb-map(world = 'world' features = 'selectedTour.features' route = 'selectedTour.route' width = 246 height = 506 scale-factor = 'selectedTour.scaleFactor')
            .width-8.height-8.dashed-border.text-box
                div(style =  'height: 100%;')
                    p Route description
            .width-12.dashed-border.text-box
                h4 Who
            .width-3.height-3.dashed-border
                img(ng-src = '../images/2015-namibia/people/brooke.jpg')
                .label-box
                    center Brooke
            .width-3.height-3.dashed-border
                img(ng-src = '../images/2015-namibia/people/nico.jpg')
                .label-box
                    center Nico
            .width-3.height-3.dashed-border
                img(ng-src = '../images/2015-namibia/people/paul.jpg')
                .label-box
                    center Paul 1
            .width-3.height-3.dashed-border
                img(ng-src = '../images/2015-namibia/people/paul2.jpg')
                .label-box
                    center Paul 2
            .width-3.height-3.dashed-border
                img(ng-src = '../images/2015-namibia/people/pieter.jpg')
                .label-box
                    center Petie
            .width-3.height-3.dashed-border
                img(ng-src = '../images/2015-namibia/people/vic.jpg')
                .label-box
                    center Vic
            .width-3.height-3.dashed-border
                img(ng-src = '../images/2015-namibia/people/wikus.jpg')
                .label-box
                    center Wikus
            .width-3.height-3.dashed-border
                img(ng-src = '../images/2015-namibia/people/willie.jpg')
                .label-box
                    center Willie

            .width-12.dashed-border.text-box
                h4 How
            .width-12.height-3.dashed-border
                img(ng-src = '../images/2015-namibia/cars/IMG_6340.JPG')
                .label-box
                    center Toyota...
            .width-12.dashed-border.text-box
                h4 Day 1 to 4: Driving and Sossusvlei
            .width-12.dashed-border.text-box
                h4 Day 4 to 5: Ugab
            .width-12.dashed-border.text-box
                h4 Day 6: Messum
            .width-12.dashed-border.text-box
                h4 Day 7 to 10: Brandberg
            .width-12.dashed-border.text-box
                h4 Day 11 to 13: Spitzkoppe
            .width-12.dashed-border.text-box
                h4 Day 14 to 16: Driving home via Brukkaros

            .width-12.height-9.dashed-border
                img(ng-src = '../images/2015-namibia/_1110246 1.33.jpg')