doctype html
html(ng-app='clientApp')
    head
        title= title
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(rel='icon', href='images/wb.png')
        link(href='https://fonts.googleapis.com/css?family=Contrail+One' rel='stylesheet' type='text/css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(ng-controller='AppController' ng-class='background')
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                .row.row-centered
                    .col-xs-12.col-centered
                        .navbar-header
                            a.navbar-brand(href='#/home') wikusbrink.com
                            a.mobile.navbar-brand.pull-right(href='https://www.instagram.com/wikusbrink/' target='_blank')
                                img.insta-icon(src='images/instagram.png' width='18px' height='18px')
                            a.mobile.navbar-brand.pull-right(href='#/cv') CV
                            a.mobile.navbar-brand.pull-right(href='#/home' ng-if='false') Home
                        .navbar-right.normal
                            a.navbar-brand.pull-right(href='https://github.com/wikusbrink/wikusbrink.com' target='_blank')
                                img.insta-icon(src='images/github.png' width='16px' height='16px')
                            a.navbar-brand.pull-right(href='https://www.instagram.com/wikusbrink/' target='_blank')
                                img.insta-icon(src='images/instagram.png' width='16px' height='16px')
                            a.navbar-brand.pull-right(href='#/cv') CV
                            a.navbar-brand.pull-right(href='#/home') Home

        .container(style='margin-top: 80px')
            .row.row-centered
                .col-xs-12.col-centered
                    block content

        script(src='lib/angular/angular.min.js')
        script(src='lib/angular-route/angular-route.min.js')
        script(src='lib/angular-resource/angular-resource.min.js')
        script(src='lib/underscore/underscore-min.js')
        script(src='lib/d3/d3.min.js')
        script(src='lib/nvd3/build/nv.d3.min.js')
        script(src='lib/topojson/topojson.js')
        script(src='lib/d3-geo-projection/d3.geo.projection.min.js')
        script(src='javascripts/app.js')
        script(src='javascripts/directives.js')
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBc1tFP0eA2Hh8H03WbCGgQO2I_9ItG7qU')