

.content-section
    .row
        .col-md-12
            h1 Abbreviated CV
            h4 1. Personal information
            table
                tr
                    td
                        ul
                            li Date of birth
                    td
                        ul(style='list-style-type: none;')
                            li 26 October 1986
                tr
                    td
                        ul
                            li Nationality
                    td
                        ul(style='list-style-type: none;')
                            li South African
                tr
                    td
                        ul
                            li Languages
                    td
                        ul(style='list-style-type: none;')
                            li Afrikaans, English
                tr
                    td
                        ul
                            li Email
                    td
                        ul(style='list-style-type: none;')
                            li wikusbrink@gmail.com


            h4 2. Professional experience
            ul
                li
                    p
                        = 'Data Scientist at '
                        a(href='http://praelexis.com/' target='_blank') Praelexis
                        = ' (March 2013-present). I started at the company as one of the first two employees. I have therefore been exposed to nearly all aspects, roles, and responsibilities that exist in a data science company. This includes (but is not limited to):'
                    ul
                        li Creating predictive machine learning models, and deploying models in a production environment.
                        li Administrating development environments and DevOps (this includes Bitbucket, TeamCity, Bamboo, Artifactory, and Docker on cloud platforms such as AWS and MS Azure).
                        li Development of data flows (using mostly Python and Spark between various data sources such as HDFS and Hadoop, flat files, SQL server, Rest APIs, and many others).
                        li Development of a web frontend (Node, Express, MySQL, Elasticsearch, Angular, and D3).
                        li Client interaction, product design and documentation.
                        li Domain experience in banking and education with exposure to insurance and health care.
                        li Acted as team lead in an agile development environment.

            h4 3. Academic qualifications
            ul
                li Bachelor of Engineering (BEng), Electrical & Electronic: Stellenbosch University, South Africa, 2010
            ul
                li
                    p Master of Science in Engineering (MScEng): Stellenbosch University, South Africa, 2012
                    ul
                        li title of thesis: Stereo vision for simultaneous localization and mapping
                    ul
                        li cum laude, achieved a mark of 80%

            h4 4. Publications
            ul
                li
                    p
                        = 'W. Brink, C. van Daalen, W. Brink, '
                        a(href='/docs/iros2012_brink.pdf' target='_blank') Probabilistic outlier removal for robust landmark identification in stereo vision based SLAM
                        |  [
                        a(href='/docs/iros2012_brink.mp4' target='_blank') movie
                        | ],
                        | IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS), pp. 2822-2827, 2012
                li
                    p
                        = 'W. Brink, C. van Daalen, W. Brink, '
                        a(href='/docs/prasa2012_brink.pdf' target='_blank') FastSLAM with stereo vision
                        | , 23rd Annual Symposium of the Pattern Recognition Association of South Africa (PRASA), pp. 24-30, 2012
                li
                    p
                        = 'W. Brink, C. van Daalen, W. Brink, '
                        a(href='/docs/prasa2011_brink.pdf' target='_blank') Stereo vision as a sensor for EKF SLAM
                        | , 22nd Annual Symposium of the Pattern Recognition Association of South Africa (PRASA), pp. 19-24, 2011
                li
                    p
                        a(href='/docs/WBrink2012.pdf' target='_blank') Stereo vision for simultaneous localization and mapping
                        | , Stellenbosch University, South Africa, 2012

            h4 5. Hobbies
            ul
                li
                    a(href='#/travel') 4x4 and travel
                li
                    a(href='#/hikes') Hiking
                li
                    a(href='#/kayak') Surf kayaking
                li
                    a(href='#/workshop') Metalwork
