.content-section
    .row
        .col-md-12
            h1 Recent hikes

        .col-sm-12
            h3 Table mountain
        .col-sm-3
            wb-image(height=200 image='images/hikes/table/_DSC0354.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/table/_DSC0386.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/table/_DSC0387.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/table/_DSC0403.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/table/_DSC0411.jpg')

        .col-sm-12
            h3 Krakadouw
        .col-sm-3
            wb-image(height=200 image='images/hikes/krak/140426-180808-Krakadouw.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/krak/140426-181023-Krakadouw.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/krak/140426-193029-Krakadouw.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/krak/140427-101651-Krakadouw.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/krak/140427-104315-Krakadouw.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/krak/140427-112844-Krakadouw.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/krak/140427-122825-Krakadouw.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/krak/140427-153336-Krakadouw.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/krak/140427-155537-Krakadouw.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/krak/140427-181325-Krakadouw.jpg')

        .col-sm-12
            h3 Torres del Paine
        .col-sm-3
            wb-image(height=200 image='images/hikes/torres/IMG_1402.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/torres/IMG_2075.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/torres/IMG_2094.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/torres/IMG_2122.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/torres/IMG_2175.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/torres/IMG_2267.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/torres/IMG_2313.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/torres/IMG_2389.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/torres/IMG_2392.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/torres/IMG_2539.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/torres/IMG_2672.JPG')

        .col-sm-12
            h3 Apex
        .col-sm-3
            wb-image(height=200 image='images/hikes/apex/Cederberg Apex Des 16-7315.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/apex/Cederberg Apex Des 16-7342.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/apex/Cederberg Apex Des 16-7348.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/apex/Cederberg Apex Des 16-7382.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/apex/Cederberg Apex Des 16-7441.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/apex/Cederberg Apex Des 16-7461.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/apex/Cederberg Apex Des 16-7486.jpg')
        .col-sm-3
            wb-image(height=200 image='images/hikes/apex/Cederberg Apex Des 16-7573.jpg')

        .col-sm-12
            h3 Brandberg
        .col-sm-3
            wb-image(height=200 image='images/hikes/brand/IMG_6623.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/brand/IMG_6650.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/brand/IMG_6652.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/brand/IMG_6689.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/brand/IMG_6727.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/brand/IMG_6731.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/brand/IMG_6744.JPG')
        .col-sm-3
            wb-image(height=200 image='images/hikes/brand/IMG_6802.JPG')
