

.row.quote-row
    .col-sm-1
    .col-sm-10
        h1 Welcome
        h3 This is my site. Not much going on here... That's a picture of me.
.row
    .col-sm-1
    .col-sm-10
        wb-image(height=450 image='images/IMG_6305.JPG')
