

.content-section
    .row
        .col-md-12
            h1 Kayak pics

        .col-sm-3
            wb-image(height=200 image='images/kayak/Nico Brink-1.jpg')
        .col-sm-3
            wb-image(height=200 image='images/kayak/Nico Brink-4.jpg')
        .col-sm-3
            wb-image(height=200 image='images/kayak/Nico Brink-18.jpg')
        .col-sm-3
            wb-image(height=200 image='images/kayak/Nico Brink-23.jpg')
        .col-sm-12
            wb-image(height=250 image='images/kayak/Nico Brink-22.jpg')
        .col-sm-5
            wb-image(height=300 image='images/kayak/Nico Brink-34.jpg')
        .col-sm-4
            wb-image(height=300 image='images/kayak/Nico Brink-31.jpg')
        .col-sm-3
            wb-image(height=300 image='images/kayak/Nico Brink-35.jpg')
