.content-section
    .row
        .col-md-12
            h1 Recent 4x4 trips

        .col-sm-12
            h3 Namibia
        .col-sm-4
            wb-image(height=200 image='images/travel/nam/IMG_6212.JPG')
        .col-sm-4
            wb-image(height=200 image='images/travel/nam/IMG_6398.JPG')
        .col-sm-4
            wb-image(height=200 image='images/travel/nam/IMG_6427.JPG')
        .col-sm-4
            wb-image(height=200 image='images/travel/nam/IMG_6441.JPG')
        .col-sm-4
            wb-image(height=200 image='images/travel/nam/IMG_6491.JPG')
        .col-sm-4
            wb-image(height=200 image='images/travel/nam/IMG_6536.JPG')
        .col-sm-4
            wb-image(height=200 image='images/travel/nam/IMG_6606.JPG')

        .col-sm-4
            wb-image(height=200 image='images/travel/nam/Nico Brink-8.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/nam/Nico Brink-37.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/nam/Nico Brink-41.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/nam/Nico Brink-65.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/nam/Nico Brink-75.jpg')

        .col-sm-12
            h3 Botswana
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/_NIC3252.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/_NIC3410.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/_NIC3413.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/_NIC3627.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/_NIC3641.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/_NIC3932.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/_NIC4006.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/_NIC4011.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/Botsw-8.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/Botsw-19.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/Botsw-21.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/Botsw-24.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/Botsw-49.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/Botsw-144.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/Botsw-176.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/Botsw-212.jpg')
        .col-sm-4
            wb-image(height=200 image='images/travel/botswanna/Botsw-289.jpg')










