.content-section
    .row
        .col-md-12
            h1 Recent workshop projects

        .col-sm-12
            h3 Canopy
        .col-sm-3
            wb-image(height=200 image='images/workshop/canopy4.jpg')
        .col-sm-3
            wb-image(height=200 image='images/workshop/canopy5.jpg')
        .col-sm-3
            wb-image(height=200 image='images/workshop/canopy3.jpg')
        .col-sm-3
            wb-image(height=200 image='images/workshop/canopy2.jpg')
        .col-sm-12
            wb-image(height=600 image='images/workshop/canopy6.jpg')

        .col-sm-12
            h3 Rock sliders
        .col-sm-4
            wb-image(height=200 image='images/workshop/bumper2.jpg')
        .col-sm-4
            wb-image(height=200 image='images/workshop/bumper1.jpg')
        .col-sm-4
            wb-image(height=200 image='images/workshop/bumper3.jpg')

        .col-sm-12
            h3 Bumper
        .col-sm-4
            wb-image(height=200 image='images/workshop/sliders1.jpg')
        .col-sm-4
            wb-image(height=200 image='images/workshop/sliders5.jpg')
        .col-sm-4
            wb-image(height=200 image='images/workshop/sliders2.jpg')
        .col-sm-12
            wb-image(height=200 image='images/workshop/sliders3.jpg')
