
.row
    .col-md-8
        h1 Malawi
    .col-sm-4.pull-right
        h2.text-right(style='margin-top: 45px;') 2008
.row
    .col-md-7
        wb-google-map-2(height=500 source='maps/malawi_2008.json')
    .col-md-5
        wb-image(height=300 image='images/travel/malawi_2008/4.jpg')
    .col-md-5
        wb-image(height=300 image='images/travel/malawi_2008/5.jpg')
    .col-md-6
        wb-image(height=280 image='images/travel/malawi_2008/2.jpg')
    .col-md-6
        wb-image(height=280 image='images/travel/malawi_2008/10.jpg')

    .col-md-6
        wb-image(height=280 image='images/travel/malawi_2008/3.jpg')
    .col-md-6
        wb-image(height=280 image='images/travel/malawi_2008/8.jpg')

    .col-md-6
        wb-image(height=586 image='images/travel/malawi_2008/9.jpg')
    .col-md-6
        wb-image(height=280 image='images/travel/malawi_2008/6.jpg')
    .col-md-6
        wb-image(height=280 image='images/travel/malawi_2008/11.jpg')

    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/12.jpg')
    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/15.jpg')
    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/14.jpg')
    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/16.jpg')
    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/17.jpg')
    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/20.jpg')


    .col-md-3
        wb-image(height=586 image='images/travel/malawi_2008/13.jpg')

    .col-md-3
        wb-image(height=280 image='images/travel/malawi_2008/19.jpg')
    .col-md-3
        wb-image(height=280 image='images/travel/malawi_2008/18.jpg')
    .col-md-3
        wb-image(height=280 image='images/travel/malawi_2008/21.jpg')
    .col-md-9
        wb-image(height=280 image='images/travel/malawi_2008/22.jpg')

    .col-md-6
        wb-image(height=586 image='images/travel/malawi_2008/24.jpg')
    .col-md-6
        wb-image(height=586 image='images/travel/malawi_2008/26.jpg')

    .col-md-8
        wb-image(height=280 image='images/travel/malawi_2008/25.jpg')
    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/27.jpg')

    .col-md-12
        wb-image(height=800 image='images/travel/malawi_2008/28.jpg')

    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/29.jpg')
    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/30.jpg')
    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/31.jpg')

    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/32.jpg')
    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/33.jpg')
    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/34.jpg')

    .col-md-6
        wb-image(height=586 image='images/travel/malawi_2008/39.jpg')
    .col-md-3
        wb-image(height=280 image='images/travel/malawi_2008/35.jpg')
    .col-md-3
        wb-image(height=280 image='images/travel/malawi_2008/36.jpg')
    .col-md-3
        wb-image(height=280 image='images/travel/malawi_2008/38.jpg')
    .col-md-3
        wb-image(height=280 image='images/travel/malawi_2008/37.jpg')

    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/40.jpg')
    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/41.jpg')
    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/42.jpg')

    .col-md-6
        wb-image(height=500 image='images/travel/malawi_2008/43.jpg')
    .col-md-6
        wb-image(height=500 image='images/travel/malawi_2008/46.jpg')

    .col-md-5
        wb-image(height=280 image='images/travel/malawi_2008/47.jpg')
    .col-md-7
        wb-image(height=280 image='images/travel/malawi_2008/48.jpg')

    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/49.jpg')
    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/50.jpg')
    .col-md-4
        wb-image(height=280 image='images/travel/malawi_2008/51.jpg')

    .col-md-6
        wb-image(height=280 image='images/travel/malawi_2008/52.jpg')
    .col-md-6
        wb-image(height=280 image='images/travel/malawi_2008/53.jpg')
    .col-md-6
        wb-image(height=280 image='images/travel/malawi_2008/54.jpg')
    .col-md-6
        wb-image(height=280 image='images/travel/malawi_2008/55.jpg')
    .col-md-6
        wb-image(height=280 image='images/travel/malawi_2008/56.jpg')
    .col-md-6
        wb-image(height=280 image='images/travel/malawi_2008/57.jpg')

    .col-md-3
        wb-image(height=450 image='images/travel/malawi_2008/61.jpg')
    .col-md-2
        wb-image(height=450 image='images/travel/malawi_2008/60.jpg')

    .col-md-7
        wb-image(height=450 image='images/travel/malawi_2008/63.jpg')

    .col-md-3
        wb-image(height=280 image='images/travel/malawi_2008/59.jpg')

    .col-md-3
        wb-image(height=280 image='images/travel/malawi_2008/62.jpg')
    .col-md-3
        wb-image(height=280 image='images/travel/malawi_2008/58.jpg')
    .col-md-3
        wb-image(height=280 image='images/travel/malawi_2008/64.jpg')

    .col-md-6
        wb-image(height=280 image='images/travel/malawi_2008/65.jpg')
    .col-md-6
        wb-image(height=280 image='images/travel/malawi_2008/66.jpg')
