
.row
    .col-md-8
        h1 UK
    .col-sm-4.pull-right
        h2.text-right(style='margin-top: 45px;') 2012
.row
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/1.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/2.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/3.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/4.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/5.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/6.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/7.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/8.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/9.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/10.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/11.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/12.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/13.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/14.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/15.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/16.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/17.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/18.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/19.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/20.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/21.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/22.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/23.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/24.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/25.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/26.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/27.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/28.JPG')
    .col-md-4
        wb-image(height=300 image='images/travel/uk_2012/29.JPG')